img {
    width: 500px;
    height: 500px;
}

/* table {
    width: 60%;
    border-collapse: collapse;
    background-color: rgb(153, 86, 86);
    font-family: 'Courier New', Courier, monospace;
    color: azure;
} */

/* table,
th,
td {
    border: 1px solid black;

}

th,
td {
    padding: 20px;
    text-align: left;
}  */